body {
  background-color: #0e0e1a;
  font-family: 'Poppins', sans-serif;
  color: #ccc;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  color: #9c6bff;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  color: #999;
  margin-bottom: 2rem;
}

.form, .options {
  background: #1c1c2b;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}

input[type="text"], input[type="password"], input[type="number"] {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 8px;
  background: #292940;
  color: #fff;
}

button {
  width: 100%;
  padding: 0.9rem;
  background: #7a46ff;
  border: none;
  color: #fff;
  border-radius: 8px;
  margin-top: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #683de0;
}

.password-wrapper {
  position: relative;
}

#togglePassword {
  position: absolute;
  right: 10px;
  top: 35%;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1f1f30;
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
}

footer {
  font-size: 0.8rem;
  color: #555;
  margin-top: 2rem;
}

.hidden {
  display: none;
}
